body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    background-color: white;
    height: 10vh;
    padding: 20px;
    display: flex;
    z-index: 10000000;
    align-items: center;
    border-bottom: 1px solid #ddd;
    width: 100vw;
}

.logoHeader {
    width: 4rem;
    height: auto;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.logout {
    background-color: #FAF8FF;
    color: #6f6faf;
    font-weight: bold;
    font-size: small;
    border: 0.1rem solid #bfbfd0;
    padding: 0.6rem;
    border-radius: 10px;
    position: absolute;
    right: 7%;
    top: 18%;
}

.logout:hover {
    background-color: #f4f1fe;
}

.logout:active {
    background-color: #efebfd;
}

.notification-icon {
    background-color: #FAF8FF;
    color: #6f6faf;
    border: 0.1rem solid #bfbfd0;
    position: absolute;
    right: 4%;
    top: 18%;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.notification-icon:hover {
    background-color: #f4f1fe;
}

.notification-icon:active {
    background-color: #efebfd;
}

.notification-container {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e0dede;
    color: black;
    border-radius: 10px;
    width: 550px;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    top: 110%;
    right: 0;
}

.notification-container::-webkit-scrollbar {
    width: 0.4rem;
}

.notification-container::-webkit-scrollbar-thumb {
    background-color: #e2e2e2;
    border-radius: 10px;
    height: 10rem;
}

.singleNotification {
    border-bottom: 2px solid #e0dede;
    padding: 0.8rem;
}

.notification-container div:hover {
    background-color: #f8f8f8;
}

.notficationImg,
.notficationText,
.notificationClose {
    display: inline-block;
}

.notficationText {
    margin-top: 0.5rem;
}

.notification-container .text-secondary {
    margin-top: -1rem;
}

.notficationImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -2rem;
}

.sidebar a:hover,
.sidebar a:active {
    background-color: #f9f9f9;
}

.sidebar {
    height: 100vh;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 80px;
    text-align: center;
    border-right: 1px solid #ddd;
    display: flex;
    justify-content: center;
}

.sidebar img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #f9f9f9;
    margin-bottom: 0.5rem;
}

.sidebar h6 {
    font-weight: bolder;
    margin-bottom: 1rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-top: 0.01rem;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

#branchDropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10%;
    transition: transform 0.5s ease;
}

.dropdown-menu {
    width: 100%;
    display: none;
    position: absolute;
    background-color: white;
    border: 0;
    border-radius: 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #ddd;
    z-index: 1;
    top: 100%;
    left: 0;
    text-align: center;
}

.dropdown.show .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    font-size: 0.7em;
    background-color: #f9f9f9;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:active {
    background-color: #f0f0f0;
}

.dropdown.show .dropdown-toggle::after {
    transform: rotate(180deg);
}

@media (max-width: 767px) {
    .menu-icon {
        display: block;
    }

    .notificationandsearch {
        width: 100%;
        margin-right: 0;
        justify-content: space-between;
    }

    .headerSearch {
        margin-left: 0.5rem;
    }

    .sidebar {
        width: 100%;
        padding-top: 60px;
        display: none;
        margin-top: 3rem;
    }

    .sidebar.active {
        display: block;
    }

    .content {
        left: 0;
        margin-bottom: 20rem;
    }

    .contenttWrapper {
        margin: 5rem auto;
    }

    .sidebar.active .sidebar-image,
    .sidebarH6 {
        display: none;
    }

}

.content {
    height: 100vh;
    width: 84vw;
}

.contenttWrapper {
    position: absolute;
    top: 100px;
    left: 17.5vw;
    width: 80%;
    height: auto;
    padding: 2rem;
    background-color: #F9FAFB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
